<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/ros-12.48.0-1701935665/%F0%9D%90%91%E1%91%8C%E1%B5%92%F0%9D%90%92%20_12.48.0_1701935665.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://is.gd/c4cDbr</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://is.gd/c4cDbr</string>
				</dict>
			        </array>
			        <key>metadata</key>
			        <dict>
				<key>bundle-identifier</key>
				<string>com.rebo.snapchat</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
        SnapChat ++
       
تکایە لەسەر ئەکاونتی خۆت تاقی مەکەوە
       
Sleep Store📦   

"لەبوونی هەر کێشەیەک دەتوانی نامە بۆ پەیچی ئینستاگرام بنێریت"
Instagram : ruos1m</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>